<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>RECSTACHE</title>
    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="icon" href="favicon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Adamina|Alegreya:400,700|Alegreya+SC:700' rel='stylesheet' type='text/css' />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Latest version of jQuery, customized for Foundation -->
    <script src="assets/jquery.js"></script>
    <script src="assets/foundation.min.js"></script>
    <script src="assets/app.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36017441-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <%= yield %>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=317204941707961";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="contain-to-grid logo-holder">
      <div class="row">
        <div class="five columns centered header">
          <img src="/assets/logo2.png" />
        </div>
      </div>
    </div>

    <section id="content">
      <div id="intro">
        <div class="row">
          <h2 class="twelve columns">Welcome</h2>
          <div class="six columns description">
            <p>
              Are you interested in growing an epic 'stache while increasing awareness for mens health? Join Team RECSOLU in the MOVEMBER charity event. Contact <%= link_to "Eric Sanders", "mailto:eric@recsolu.com" -%> with any questions. If you want to help the cause you can donate to <%= link_to 'Team RECSOLU directly', 'http://bit.ly/RECSTACHE', :target => '_blank' %>.
            </p>
          </div>
          <div class="six columns facebook-module">
            <div class="fb-comments" data-href="http://recstache.com" data-num-posts="8" data-width="470" data-colorscheme="light"></div>
          </div>
        </div>
        <div class="row">
          <h2 class="twelve columns">Want to sponsor us?</h2>
          <div class="twelve columns description">
            <p>
              Head over to the <%= link_to 'RECSOLU Movember Donate', 'http://bit.ly/RECSTACHE', :target => '_blank' %> page and fill out the secure donation form.  Once complete we will contact you for your logo and link to appear on our site. We will put the sponsors in order of highest to lowest donation, but seriously, anything helps and will get you on our sponsor list.
            </p>
          </div>
        </div>
      </div>
      <div id="contestants">
        <div class="row">
        <h2 class="twelve columns">Your Contestants</h2>
        <h3 class="twelve columns">Loving Movember</h3>
        <div class="six columns before">
          <ul class="block-grid two-up mobile-two-up">
            <% @users.each do |user| %>
              <% next if user.user_images.empty? %>
              <li>
                <img src="<%= user.user_images.last.photo(:large) %>" />
                <span><%= user.url.blank? ? user.name : (link_to user.name, user.url, :target => "_blank") -%></span>
              </li>
            <% end unless @users.blank? -%>
          </ul>
        </div>
        <div class="six columns leaderboard">
          <table class="twelve">
            <thead>
              <tr>
                <th>
                  Contestant
                </th>
                <th>
                  Raised
                </th>
              </tr>
            </thead>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <%= user.url.blank? ? user.name : (link_to user.name, user.url, :target => "_blank") -%>
                </td>
                <td> 
                  <%= number_to_currency(user.raised, :unit => "$") -%>
                </td>  
              </tr>
            <% end if defined? @users -%>
          </table>
        </div> <!--.leaderboard-->
        </div>
      </div> <!--.contestants-->
      <div id="pictures">
        <div class="row">
          <div class="twelve columns other-pictures">
            <h2>More Photos</h2>
            <p>
              Check out <%= link_to "Movember Team RECSOLU", "http://bit.ly/RECSTACHE", :target => "_blank" %> on day two of Movember!
              <img src="/images/team_recsolu.jpg" alt="Team Recsolu Movember" />
            </p>
          </div>
        </div>
      </div><!--.pictures-->

    </section>

    <footer id="footstache">
      <div id="footer">
        <div class="row">
          <div class="twelve columns" id="footer-text">
            <img src="/assets/m-footer.png"> 2012. Design by <a href="http://niedererer.com/" target="_blank">Carissa Niederer</a> <img src="/assets/m-footer2.png">
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>